<h1>Community tool sharing !</h1>
<body>
    <div style="text-align:center;font-size:250%;">
        <br>Don’t have the tools you need when assembling furniture? Don't want to spend a lot of money to buy a tool but only use it once? Come on, join us!<br>
        <br>Register as our member for free and enjoy the tool rental service!<br>
        <img src="image/p1.jpg" alt="">
    </div>
</body>

@code {

}
